Hi, <%= @user.firstname %>!

At your request, JobCorps has sent you the following URL so that you may reset your password.  Please click on the following link to go to the change password page:

<%= @url %>
 
We hope you've enjoyed using JobCorps.

Best wishes,
The JobCorps Team