Dear <%= @user.firstname %>,

At your request, JobCorps has changed your password. If it was not at your request, then you should be aware that someone has access to your account and requested this change.

Your new login credentials are:

  login:    <%= @user.login %>
  password: <%= @user.password %>
 
We hope you have enjoyed using JobCorps.

Best wishes,
The JobCorps Team