Hi, <%= @user.firstname %>!

You have successfully activated your account.  Here is your login information.

  Username: <%= @user.login %>
  Password: <%= @user.password %>

Visit this url to activate your account:

  <%= @url %>

Best wishes,
The JobCorps Team.