<div id="footer">
	<div id="footer-inner">

  <p><a href="/about/">About JobCorps</a> | <a href="http://www.ausg.org">AU Student Government</a> | <a href="/about/terms/">Terms of Use</a> | <a href="/about/privacy/">Privacy Policy</a></p>
  <p>JobCorps is a production of the American University Student Government in Washington, DC</p>
  <p id="copyright">Copyright &copy; 2006 - 2008 American University. ALL RIGHTS RESERVED. All trademarks mentioned herein belong to their respective owners.</p>
	</div>
</div>

